  .slick-arrow {
    position: absolute;
    bottom: 2px;
    padding: 24px; 
    background: center center no-repeat;
    z-index: 3;
    left: 50%;
  }

  .slick-arrow.slick-next:before {
    content: "";
  }
  
  .slick-arrow.slick-prev:before {
    content: "";
  }

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: center center no-repeat;
  }

  .slick-arrow.slick-prev{
    top: unset;
    bottom: -28px;
    left: calc(50% - 47px);
  }

  .slick-arrow.slick-next{
    top: unset;
    bottom: -28px;
  }

  .slick-track{
    width: 100%;
    overflow: hidden;
  }

  .slick-list{
    height: calc(100% - 64px);
  }


  @media(min-width: 768px){
    .slick-arrow.slick-prev{
      top: unset;
      bottom: -30px;
    }
    .slick-arrow.slick-next{
      top: unset;
      bottom: -30px;
    }
   
  }
  
  @media(min-width: 1040px){
    .slick-arrow {
      padding: 48px;
    }

    .slick-arrow.slick-prev{
    left: unset; 
    top: unset;
    bottom: -51px;
    right: 95px;
    width: 48px;
    height: 48px;
    }

    .slick-arrow.slick-next{
    left: unset;
    right: 0px;
    top: unset;
    bottom: -51px;
    width: 48px;
    height: 48px;
    }
  }

  