  .slick-arrow {
    position: absolute;
    bottom: 0px;
    padding: 24px; 
    background: center center no-repeat;
    z-index: 3;

  }

  .slick-arrow.slick-next:before {
    content: "";
  }
  
  .slick-arrow.slick-prev:before {
    content: "";
  }

  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: center center no-repeat;
  }

  .slick-arrow.slick-prev{
    left: 140px;
    top: 590px;

  }

  .slick-arrow.slick-next{
    left: 187px;
    top: 590px;
  }

  @media(min-width: 768px){
    .slick-arrow.slick-prev{
      left: 350px;
      top: 950px;
  
    }
  
    
    .slick-arrow.slick-next{
      left: 395px;
      top: 950px;
    }
   
  }

  @media(min-width: 820px){
    .slick-arrow.slick-prev{
      left: 365px;
      top: 1105px;
  
    }
  
    
    .slick-arrow.slick-next{
      left: 410px;
      top: 1105px;
    }
   
  }

  @media(min-width: 1440px){
    .slick-arrow {
      padding: 48px;
    }

    .slick-arrow.slick-prev{
    left: unset; 
    top: unset;
    bottom: -50px;
    right: 96px;
    width: 48px;
    height: 48px;
    }

    .slick-arrow.slick-next{
    left: unset;
    right: 0px;
    top: unset;
    bottom: -50px;
    width: 48px;
    height: 48px;
    }
  }

   .slick-track{
    width: 100vw
  }
  .slick-list{
    height: calc(100% - 64px);
  }